<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.dao.LabelVideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ldh.entity.LabelVideo">
        <id column="id" property="id" />
        <result column="label_id" property="labelId" />
        <result column="user_id" property="userId" />
        <result column="flower_video_id" property="flowerVideoId" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, label_id AS labelId, user_id AS userId, flower_video_id AS flowerVideoId, status, sort, update_time AS updateTime, create_time AS createTime
    </sql>

</mapper>
